CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/
out/
CPM.cmake
generated/
.vs/
.vscode/
*.sdf
*.suo
*.user
*.userprefs
*.sln
*.vcxproj
*.trace
engine/cmake/
_deps/
